<%- include("partials/header") %> 
    <div class="heading">
        <img src="/images/logo-final.png" width="100" height="50" alt="">
        <span>Cookie Bot</span>

    </div>
    <section class="main">
            <div class="user-area">
                <img src="/images/user.png">
            </div>
            <div class="chatarea-main">
                <div class="chatarea-outer">
                    <!-- <div class="chatarea-inner user">Hello hi, how area you, i am good. What about you!</div>
                    <div class="chatarea-inner chatbot">Hello hi, how area you, i am good. What about you!</div>
                    <div class="chatarea-inner user">Hello hi, how area you, i am good. What about you!</div> -->
                </div>
            </div>    
            <div class="chatbot-area">
                <img src="/images/chatbot.png">
            </div>
        <button id="mic"><i class="flaticon-microphone"></i></button>
    </section>
    <script src="/js/chatbot.js"></script>
</body>
</html>
