@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);
#about {
  min-height: 100vh;
  background: rgb(226, 226, 226);
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 35px;
}
p {
  font-size: 19px;
}
