@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
/* css of navbar, footer */
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
body {
  overflow-x: hidden;
  /* background: linear-gradient(#141e30, #243b55); */
  min-height: 100vh;
}
#nav {
  /*Styling logo*/
  /*Styling Links*/
  /*Styling Button*/
  /* .dropbtn:hover {
		 color: #131418;
		 background-color: #f2f5f7;
		 border: 1.5px solid #f2f5f7;
		 transition: all ease-in-out 350ms;
	}
	 */
  /*Styling Hamburger Icon*/
  /*Stying for small screens*/
  /*Animating Hamburger Icon on Click*/
}
#nav nav {
  height: 70px;
  width: 100vw;
  position: relative;
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  opacity: 1;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
}
#nav .logo {
  padding: 20px;
  text-align: center;
}
#nav .logo img {
  height: 80px;
  width: auto;
}
#nav .nav-links {
  list-style: none;
  padding: 0px 15px;
  width: 100vw;
  height: 100px;
  /* background: #000;
	 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
#nav .nav-links li {
  margin-top: 10px;
  display: inline-block;
}
#nav .nav-links li a {
  text-decoration: none;
  margin: 0 20px;
  color: black;
}
#nav .nav-links li i,
#nav .dropbtn i,
#nav .dropbtn {
  color: black;
}
#nav .nav-links li:hover a,
#nav .nav-links li:hover i {
  color: #61dafb !important;
}
#nav .dropdown {
  position: relative;
  display: inline-block;
  padding-right: 10px;
}
#nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 10px;
  /* text-align: center;
	 */
}
#nav .dropdown-content a {
  display: block;
  color: black;
  /* color: white;
	 */
  padding: 12px 0;
  padding-left: 15px !important;
  text-decoration: none;
}
#nav .dropdown-content i {
  color: black;
}
#nav .dropdown-content a:hover {
  background: #e0e0e0;
}
#nav .dropdown:hover .dropdown-content {
  display: block;
}
#nav .dropbtn {
  background-color: transparent;
  /* border: 1.5px solid #f2f5f7;
	 */
  /* border-radius: 24px;
	 */
  border: none;
  padding: 10px 12px;
  margin-right: auto !important;
  font-size: 16px;
  cursor: pointer;
  outline: none !important;
  margin-top: 10px;
}
#nav .profile img {
  width: 25px;
  height: auto;
  border-radius: 50%;
}
#nav .log-in {
  position: relative;
  top: 5px;
  right: 30px;
}
#nav .log-in .login-btn {
  background: #e0e0e0;
  border-radius: 10px;
  padding: 2px 17px 5px;
}
#nav .hamburger div {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px;
  transition: all 0.3s ease;
}
#nav .hamburger {
  display: none;
}
@media screen and (max-width: 992px) {
  #nav nav {
    position: fixed;
    z-index: 3;
  }
  #nav .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  #nav .nav-links li {
    margin-top: 50px;
    display: block;
    text-align: center;
  }
  #nav .nav-links {
    position: fixed;
    top: 0;
    background: #e0e0e0;
    /* color: white;
		 */
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  #nav .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  #nav .nav-links li {
    opacity: 1;
  }
  #nav .dropbtn {
    margin-top: 30px;
  }
}
#nav .toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
#nav .toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
#nav .toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#footer footer {
  background: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}
