@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
/* css of navbar, footer */
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
body {
  overflow-x: hidden;
  /* background: linear-gradient(#141e30, #243b55); */
  min-height: 100vh;
}

#nav nav {
  height: 70px;
  width: 100vw;
  position: relative;
  background-color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  opacity: 1;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
}
#nav .logo {
  padding: 15px;
  text-align: center;
}
#nav .logo img {
  height: 60px;
  width: 200px;
}
#nav .nav-links {
  list-style: none;
  padding: 0px 15px;
  width: 100vw;
  height: 100px;
  /* background: #000;
	 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
#nav .nav-links li {
  margin-top: 10px;
  display: inline-block;
}
#nav .nav-links li a {
  text-decoration: none;
  margin: 0 20px;
  color: black;
}
#nav .nav-links li i,
#nav .dropbtn i,
#nav .dropbtn {
  color: rgb(32, 32, 32);
}
#nav .nav-links li:hover a,
#nav .nav-links li:hover i {
  color: #3a3a3a !important;
}
#nav .dropdown {
  position: relative;
  display: inline-block;
  padding-right: 10px;
}
#nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 10px;
  /* text-align: center;
	 */
}
#nav .dropdown-content a {
  display: block;
  color: black;
  /* color: white;
	 */
  padding: 12px 0;
  padding-left: 15px !important;
  text-decoration: none;
}
#nav .dropdown-content i {
  color: black;
}
#nav .dropdown-content a:hover {
  background: #e0e0e0;
}
#nav .dropdown:hover .dropdown-content {
  display: block;
}
#nav .dropbtn {
  background-color: transparent;
  /* border: 1.5px solid #f2f5f7;
	 */
  /* border-radius: 24px;
	 */
  border: none;
  padding: 10px 12px;
  margin-right: auto !important;
  font-size: 16px;
  cursor: pointer;
  outline: none !important;
  margin-top: 10px;
}
#nav .profile img {
  width: 25px;
  height: auto;
  border-radius: 50%;
}
#nav .log-in {
  position: relative;
  top: 5px;
  right: 30px;
}
#nav .log-in .login-btn {
  background: #5f5f5f;
  color: white;
  border-radius: 10px;
  padding: 2px 17px 5px;
}
#nav .hamburger div {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px;
  transition: all 0.3s ease;
}
#nav .hamburger {
  display: none;
}
@media screen and (max-width: 992px) {
  #nav nav {
    position: fixed;
    z-index: 3;
  }
  #nav .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  #nav .nav-links li {
    margin-top: 50px;
    display: block;
    text-align: center;
  }
  #nav .nav-links {
    position: fixed;
    top: 0;
    background: #e0e0e0;
    /* color: white;
		 */
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  #nav .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  #nav .nav-links li {
    opacity: 1;
  }
  #nav .dropbtn {
    margin-top: 30px;
  }
}
#nav .toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
#nav .toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
#nav .toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#footer a {
  color: #fff;
  text-decoration: none;
}
#footer .pg-footer {
  font-family: "Roboto", sans-serif;
}
#footer .footer {
  background-color: #272727;
  color: #fff;
}
#footer #footer-logo {
  position: relative;
  left: -30px;
  top: 10px;
  width: 300px;
  height: auto;
}
#footer .footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
#footer .footer-wave-path {
  fill: #fffff2;
}
#footer .footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}
#footer .footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}
#footer .footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}
#footer .footer-logo-link {
  display: inline-block;
}
#footer .footer-menu {
  margin-top: 30px;
}
#footer .footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
#footer .footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
#footer .footer-menu-list li {
  margin-top: 5px;
}
#footer .footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
#footer .footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #00bef0;
}
#footer .button:last-of-type {
  margin-right: 0;
}
#footer .footer-call-to-action-button {
  background-color: #5f5f5f;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
#footer .footer-call-to-action {
  margin-top: 30px;
}
#footer .footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
#footer .footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
#footer .footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}
#footer .footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}
#footer .footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}
#footer .footer-social-amoeba-path {
  fill: #535353;
}
#footer .footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}
#footer .footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}
#footer .hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}
#footer .footer-social-icon-svg {
  display: block;
  width: 23px;
}
#footer .footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}
#footer .footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}
#footer .footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}
#footer .footer-social-link.github {
  /* height: 34px; */
  left: 176px;
  top: 7px;
  /* width: 39px; */
}
#footer .footer-copyright {
  background-color: #5f5f5f;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}
#footer .footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
#footer .footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}
#footer .footer-copyright-link {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 479px) {
  #footer .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  #footer .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  #footer .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width: 760px) {
  #footer .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }
  #footer .footer-wave-svg {
    height: 50px;
  }
  #footer .footer-content-column {
    width: 24.99%;
  }
}
