#search {
  min-height: 100vh;
  background: rgb(226, 226, 226);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
form {
  width: 100%;
  margin: 20px;
}
.container .input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  height: 3.5rem;
  padding: 0 1rem 0 1rem;
  background: rgb(184, 184, 184);

  border-radius: 0.8rem;
  box-sizing: border-box;
}
.container .input-wrapper i {
  font-size: 20px;
  color: #f4f4f8;
}
.container .input-wrapper #input-label {
  display: none;
}
.container .input-wrapper #product-search {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #f4f4f8;
  padding-left: 1rem;
  background: rgb(184, 184, 184);
  border: none;
  outline: none;
}
.container .input-wrapper #product-search::placeholder {
  color: #ffffff;
  opacity: 0.7;
}
.container .input-wrapper .fa-times {
  cursor: pointer;
}

.range-slider {
  margin: 60px 0 0 0%;
}
.range-slider {
  width: 100%;
}
.range-slider__range {
  -webkit-appearance: none;
  width: 90%;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 70px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 0px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: "";
}
::-moz-range-track {
  background: #c7d6df;
  border: 0;
}
input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
.submit-wrapper {
  display: flex;
  justify-content: center;
}
.search-btn {
  background: #2c3e50;
  color: white;
}
@media (max-width: 768px) {
  .container .input-wrapper {
    width: 96%;
  }
  .container .results-wrapper {
    width: 96%;
  }
  .range-slider__range {
    width: 70%;
  }
}
