#view {
  min-height: 100vh;
  padding: 90px 0 50px;
  background: rgb(226, 226, 226);
}
.main-img {
  height: auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}
.main-img img {
  height: 450px;
}

.toggler {
  margin-top: 20px;
}
.toggler nav {
  border-radius: 10px;
  background-color: white !important;
}
.toggler nav .navbar-nav li {
  margin: 0 15px;
}
.toggler nav .navbar-nav li a {
  cursor: pointer;
  font-size: 15px;
}
.toggler nav .navbar-brand {
  font-size: 18px;
  font-weight: 600;
}
.toggler nav .navbar-nav .active a {
  font-weight: 600;
  /* border-bottom: 1px solid black; */
  position: relative;
  padding-bottom: 5px;
}
.toggler nav .navbar-nav .active a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 20px;
  background-color: black;
}
.toggler nav .navbar-toggler {
  margin-left: auto;
  border: none;
}
.toggler nav .navbar-toggler {
  outline: none;
  box-shadow: none;
}
#view .section {
  position: relative;
  background: white;
  margin: 20px 0px;
  border-radius: 10px;
  padding: 16px 20px 16px;
  min-height: 200px;
}

#view .about .address {
  /* text-decoration: underline; */
  color: rgb(105, 105, 105);
}
#view .section h5 {
  font-weight: 600;
  font-size: 11px;
}
p.heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  font-style: Arial !important;
  /* font-style: italic; */
  text-decoration: underline;
}
h3 {
  font-weight: 500;
}
p {
  font-size: 15px;
}
#view .section.about .contact {
  display: flex;
  flex-direction: column;
}
#view .section.about a {
  /* text-decoration: none; */
  color: black;
  margin: 10px 5px;
}
#view .section.about .contact i {
  margin-right: 5px;
}
#view .achievements,
#view .faculties,
#view .activities {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
#view .apply {
  position: absolute;
  right: 22px;
  bottom: 22px;
}
#view .apply button {
  background: #5f5f5f;
  color: white;
  width: 130px;
  padding: 7px 0px;
  font-size: 19px;
}
.carousel {
  border-radius: 15px;
  width: 70%;
}
.carousel .item {
  height: 500px;
  border-radius: 15px;
}
.carousel .carousel-control {
  border-radius: 15px;
}
.carousel .item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
  object-fit: cover;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .carousel-inner-1 img {
    height: 380px;
  }
  .toggler nav .navbar-nav li {
    margin: 0 13px;
  }
}
@media (max-width: 552px) {
  .carousel-inner-1 img {
    height: 330px;
  }
  #view .apply button {
    width: 100px;
    padding: 7px 0px;
  }
}
@media (max-width: 450px) {
  .carousel-inner-1 img {
    height: 300px;
  }
}
@media (max-width: 400px) {
  .carousel-inner-1 img {
    height: 270px;
  }
  #view .apply button {
    width: 80px;
    font-size: 16px;
    padding: 7px 0px;
  }
}
