<%- include("partials/header") %> 
<section id="home">
    <div class="container">
            <div class="column">
                <h1>Learning open doors, Learning changes lives
                Preparing students for Success, choose us, Be the WISE!</h1>
                <h4>A happy school, A brighter future.</h4>
            </div>
            <div class="column">
                <img src="/images/home.png" width="400" alt="">
            </div>
    </div>
</section>
<%- include("partials/footer") %> 
